.administrationFormContainer{
    background-color: white;
    margin: 1rem;
    box-shadow: 1px 1px 20px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 0px 0px rgb(0 0 0 / 12%);
    border-radius: 5px;
    margin-bottom: 5rem;
}

.administrationFormTyp{
    font-size: 1.3rem;
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1100px) {
    .administrationFormTyp{
        font-size: 0.8rem;
    }

}

/*Mobile*/
@media screen and (min-width: 360px) and (max-width: 767px){
    .administrationFormTyp{
        font-size: 0.8rem;
    }
}